a{
    text-decoration: none;
}
li{
    list-style: none;
}

#PageHeader{
    background-color: #fff;
}
#PageHeader h1{
    display: inline-block;
    font-family: Century Gothic, sans-serif;
    font-size: 36px;
}

#SiteNavigation{
    background-color: #3F5A85;
}
#SiteNavigation ul li{
    display: inline-block;
    padding-left: 50px;
    font-family: Century Gothic, sans-serif;
}
#SiteNavigation ul li a{
    color: #eeeeee;
}
#SiteNavigation ul li a:hover{
    font-weight: 700;
}

.BlogPost{
    width: 60%;
    display: inline-block;
    position: absolute;
}

.BlogPostTitle{
    color: #ff0000;
    font-family: Georgia;
}

.BlogPostContent, .BlogPostDate{
    font-family: Verdana, sans-serif;
}


.column-right{
    display: inline-block;
    width: 35%;
    position: relative;
    float: right;
}



